.App {
  text-align: center;
}

.Masthead {
  margin-top: 45px;
  height: 350px;
}

.App-header {
  background-color: #222;
  height: 400px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
